<mat-tab-group dynamicHeight mat-align-tabs="center">
    <mat-tab label="Soma">
      <div class="example-small-box mat-elevation-z4">
        <app-soma></app-soma>
      </div>
    </mat-tab>
    <mat-tab label="Fibonacci">
      <div class="example-large-box mat-elevation-z4">
        <app-fibonacci-case></app-fibonacci-case>
      </div>
    </mat-tab>
    <mat-tab label="Faturamento Distribuidora">
      <div class="example-large-box mat-elevation-z4">
        <app-faturamento-distribuidora></app-faturamento-distribuidora>
      </div>
    </mat-tab>
    <mat-tab label="Inverter string">
      <div class="example-large-box mat-elevation-z4">
        <app-reverte-string></app-reverte-string>
      </div>
    </mat-tab>
  </mat-tab-group>
<router-outlet></router-outlet>