<div class="container">
  <h1>Inverter String</h1>
  <div class="content">
    <mat-form-field class="example-form-field">
      <mat-label>Digite algo</mat-label>
      <input matInput type="text" required class="no-arrows" [(ngModel)]="inputString">
      <mat-error *ngIf="!inputString">
        <strong>Campo obrigatório</strong>
      </mat-error>
    </mat-form-field>
    <button [disabled]="!inputString"
    class="btn-calcular" mat-raised-button color="primary" 
    (click)="inverterString()">Inverter</button>
  </div>
  <p class="mensagem" >
    <strong>Resultado:</strong>
    {{ invertedString }}
  </p>
</div>
  